n8n-voice-assistant-workflow.json
{
  "name": "Voice Assistant CRM Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8db96187-b4b0-4292-a4db-31ab1fca81cf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "8db96187-b4b0-4292-a4db-31ab1fca81cf"
    },
    {
      "parameters": {
        "jsCode": "// Обработка входящих данных от голосового помощника\nconst inputData = $input.all()[0].json;\n\nconst userId = inputData.user_id || 'unknown';\nconst message = inputData.message || '';\nconst workflowContext = inputData.workflow_context || 'general';\nconst additionalData = inputData.additional_data || {};\nconst timestamp = inputData.timestamp || new Date().toISOString();\n\nconsole.log('Voice Assistant Request:', {\n  userId,\n  message,\n  workflowContext,\n  timestamp\n});\n\n// Определяем тип действия на основе контекста\nlet actionType = 'general';\nif (message.toLowerCase().includes('клиент') || message.toLowerCase().includes('client')) {\n  actionType = 'client_management';\n} else if (message.toLowerCase().includes('задач') || message.toLowerCase().includes('task')) {\n  actionType = 'task_management';\n} else if (message.toLowerCase().includes('смет') || message.toLowerCase().includes('estimate')) {\n  actionType = 'estimate_management';\n} else if (message.toLowerCase().includes('уведом') || message.toLowerCase().includes('notify')) {\n  actionType = 'notification';\n} else if (message.toLowerCase().includes('анализ') || message.toLowerCase().includes('analytics')) {\n  actionType = 'analytics';\n}\n\nreturn {\n  user_id: userId,\n  message: message,\n  workflow_context: workflowContext,\n  action_type: actionType,\n  additional_data: additionalData,\n  timestamp: timestamp,\n  processed: true\n};"
      },
      "id": "process-request",
      "name": "Process Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action_type }}",
              "value2": "client_management"
            }
          ]
        }
      },
      "id": "check-action-type",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Обработка запросов по работе с клиентами\nconst data = $input.all()[0].json;\n\nconst response = {\n  success: true,\n  action: 'client_management',\n  message: 'Обработан запрос по управлению клиентами',\n  data: {\n    user_id: data.user_id,\n    original_message: data.message,\n    processed_at: new Date().toISOString()\n  },\n  suggestions: [\n    'Создать нового клиента',\n    'Обновить информацию о клиенте',\n    'Получить историю взаимодействий'\n  ]\n};\n\nconsole.log('Client Management Response:', response);\nreturn response;"
      },
      "id": "handle-client",
      "name": "Handle Client Management",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Обработка запросов по задачам\nconst data = $input.all()[0].json;\n\nconst response = {\n  success: true,\n  action: 'task_management',\n  message: 'Обработан запрос по управлению задачами',\n  data: {\n    user_id: data.user_id,\n    original_message: data.message,\n    processed_at: new Date().toISOString()\n  },\n  suggestions: [\n    'Создать новую задачу',\n    'Получить список задач на сегодня',\n    'Отметить задачу как выполненную'\n  ]\n};\n\nconsole.log('Task Management Response:', response);\nreturn response;"
      },
      "id": "handle-task",
      "name": "Handle Task Management",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Обработка запросов по сметам\nconst data = $input.all()[0].json;\n\nconst response = {\n  success: true,\n  action: 'estimate_management',\n  message: 'Обработан запрос по управлению сметами',\n  data: {\n    user_id: data.user_id,\n    original_message: data.message,\n    processed_at: new Date().toISOString()\n  },\n  suggestions: [\n    'Создать смету через AI-Сметчика',\n    'Найти существующие сметы',\n    'Добавить позиции в смету'\n  ]\n};\n\nconsole.log('Estimate Management Response:', response);\nreturn response;"
      },
      "id": "handle-estimate",
      "name": "Handle Estimate Management",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Обработка уведомлений\nconst data = $input.all()[0].json;\n\nconst response = {\n  success: true,\n  action: 'notification',\n  message: 'Уведомление отправлено',\n  data: {\n    user_id: data.user_id,\n    notification_sent: true,\n    original_message: data.message,\n    sent_at: new Date().toISOString()\n  },\n  note: 'Здесь можно добавить интеграцию с email, Telegram, WhatsApp и другими каналами'\n};\n\nconsole.log('Notification Response:', response);\nreturn response;"
      },
      "id": "handle-notification",
      "name": "Handle Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "// Общая обработка для других типов запросов\nconst data = $input.all()[0].json;\n\nconst response = {\n  success: true,\n  action: 'general',\n  message: 'Запрос получен и обработан',\n  data: {\n    user_id: data.user_id,\n    original_message: data.message,\n    workflow_context: data.workflow_context,\n    processed_at: new Date().toISOString()\n  },\n  available_actions: [\n    'Управление клиентами (упомяните слово \"клиент\")',\n    'Управление задачами (упомяните слово \"задача\")',\n    'Управление сметами (упомяните слово \"смета\")',\n    'Отправка уведомлений (упомяните слово \"уведомление\")',\n    'Аналитика (упомяните слово \"анализ\")'\n  ]\n};\n\nconsole.log('General Response:', response);\nreturn response;"
      },
      "id": "handle-general",
      "name": "Handle General",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Request": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Handle Client Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Task Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Estimate Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Client Management": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Task Management": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Estimate Management": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle General": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-23T00:00:00.000Z",
  "versionId": "1"
}
