n8n-voice-assistant-fixed.json
{
  "name": "Voice Assistant CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-assistant",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Voice Assistant",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $json;\nconst message = inputData.message || '';\nconst conversationHistory = inputData.conversation_history || [];\nconst userId = inputData.user_id || 'anonymous';\n\nconst systemPrompt = `Ты - голосовой помощник руководителя строительной компании. \nТвоя задача - анализировать запросы и выполнять действия в CRM системе.\n\nДоступные функции:\n1. create_task - создание новых задач\n2. get_tasks - получение списка задач\n3. get_clients - получение информации о клиентах  \n4. get_leads_stats - статистика по лидам\n5. create_client - создание нового клиента\n6. find_client - поиск клиента\n7. create_estimate - создание сметы\n8. get_analytics - получение аналитики\n\nОтвечай на русском языке, будь вежливым и профессиональным.`;\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...conversationHistory.map(msg => ({\n    role: msg.type === 'user' ? 'user' : 'assistant',\n    content: msg.content\n  })),\n  { role: 'user', content: message }\n];\n\nreturn {\n  json: {\n    original_message: message,\n    user_id: userId,\n    openai_messages: messages\n  }\n};"
      },
      "id": "prepare-request",
      "name": "Prepare OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": "={{ $json.openai_messages }}",
        "temperature": 0.7,
        "maxTokens": 1000,
        "options": {
          "tools": [
            {
              "type": "function",
              "function": {
                "name": "create_task",
                "description": "Создать новую задачу",
                "parameters": {
                  "type": "object",
                  "properties": {
                    "title": {"type": "string", "description": "Заголовок задачи"},
                    "description": {"type": "string", "description": "Описание задачи"},
                    "priority": {"type": "string", "enum": ["low", "medium", "high"], "description": "Приоритет задачи"}
                  },
                  "required": ["title", "description"]
                }
              }
            },
            {
              "type": "function",
              "function": {
                "name": "get_tasks",
                "description": "Получить список задач",
                "parameters": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "enum": ["pending", "in-progress", "completed", "all"], "description": "Статус задач"},
                    "limit": {"type": "number", "description": "Лимит количества задач"}
                  }
                }
              }
            },
            {
              "type": "function",
              "function": {
                "name": "get_clients",
                "description": "Получить информацию о клиентах",
                "parameters": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "enum": ["new", "in-progress", "completed", "all"], "description": "Статус клиентов"},
                    "limit": {"type": "number", "description": "Лимит количества клиентов"}
                  }
                }
              }
            },
            {
              "type": "function",
              "function": {
                "name": "get_leads_stats",
                "description": "Получить статистику по лидам",
                "parameters": {
                  "type": "object",
                  "properties": {
                    "period": {"type": "string", "enum": ["week", "month", "quarter", "year"], "description": "Период для статистики"}
                  },
                  "required": ["period"]
                }
              }
            }
          ]
        }
      },
      "id": "openai-analysis",
      "name": "OpenAI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "has-tool-calls",
              "leftValue": "={{ $json.tool_calls && $json.tool_calls.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-function-call",
      "name": "Check Function Call",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\nif (response.tool_calls && response.tool_calls.length > 0) {\n  const toolCall = response.tool_calls[0];\n  const functionName = toolCall.function.name;\n  const functionArgs = JSON.parse(toolCall.function.arguments);\n  \n  return {\n    json: {\n      function_name: functionName,\n      function_args: functionArgs,\n      user_id: $('Prepare OpenAI Request').first().json.user_id,\n      has_function_call: true\n    }\n  };\n} else {\n  return {\n    json: {\n      has_function_call: false,\n      text_response: response.content || response.message?.content || 'Извините, не смог обработать ваш запрос.'\n    }\n  };\n}"
      },
      "id": "extract-function-call",
      "name": "Extract Function Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "function_name",
              "value": "={{ $json.function_name }}"
            }
          ]
        }
      },
      "id": "route-functions",
      "name": "Route Functions",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 200],
      "routing": {
        "rules": [
          {
            "expression": "={{ $json.function_name === 'create_task' }}",
            "output": 0
          },
          {
            "expression": "={{ $json.function_name === 'get_tasks' }}",
            "output": 1
          },
          {
            "expression": "={{ $json.function_name === 'get_clients' }}",
            "output": 2
          },
          {
            "expression": "={{ $json.function_name === 'get_leads_stats' }}",
            "output": 3
          }
        ],
        "fallbackOutput": -1
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nxyzmxqtzsvjezmkmkja.supabase.co/rest/v1/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  title: $json.function_args.title,\n  description: $json.function_args.description,\n  priority: $json.function_args.priority || 'medium',\n  status: 'pending',\n  user_id: $json.user_id\n} }}"
      },
      "id": "create-task-supabase",
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 80],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nxyzmxqtzsvjezmkmkja.supabase.co/rest/v1/tasks?user_id=eq.{{ $json.user_id }}&order=created_at.desc{{ $json.function_args.status && $json.function_args.status !== 'all' ? '&status=eq.' + $json.function_args.status : '' }}{{ $json.function_args.limit ? '&limit=' + $json.function_args.limit : '&limit=10' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "get-tasks-supabase",
      "name": "Get Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 140],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nxyzmxqtzsvjezmkmkja.supabase.co/rest/v1/clients?user_id=eq.{{ $json.user_id }}&order=created_at.desc{{ $json.function_args.status && $json.function_args.status !== 'all' ? '&status=eq.' + $json.function_args.status : '' }}{{ $json.function_args.limit ? '&limit=' + $json.function_args.limit : '&limit=10' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "get-clients-supabase",
      "name": "Get Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nxyzmxqtzsvjezmkmkja.supabase.co/functions/v1/voice-chat",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  action: 'get_leads_stats',\n  period: $json.function_args.period || 'month',\n  user_id: $json.user_id\n} }}"
      },
      "id": "get-leads-stats",
      "name": "Get Leads Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 260],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const functionName = $('Extract Function Call').first().json.function_name;\nconst apiResponse = $json;\n\nlet formattedResponse = '';\n\nswitch (functionName) {\n  case 'create_task':\n    if (apiResponse && apiResponse.length > 0) {\n      const task = apiResponse[0];\n      formattedResponse = `Задача \"${task.title}\" успешно создана с приоритетом ${task.priority}.`;\n    } else {\n      formattedResponse = 'Задача создана успешно.';\n    }\n    break;\n\n  case 'get_tasks':\n    if (apiResponse && apiResponse.length > 0) {\n      const tasks = apiResponse;\n      formattedResponse = `Найдено ${tasks.length} задач:\\n`;\n      tasks.forEach((task, index) => {\n        formattedResponse += `${index + 1}. ${task.title} (${task.status})\\n`;\n      });\n    } else {\n      formattedResponse = 'Задач не найдено.';\n    }\n    break;\n\n  case 'get_clients':\n    if (apiResponse && apiResponse.length > 0) {\n      const clients = apiResponse;\n      formattedResponse = `Найдено ${clients.length} клиентов:\\n`;\n      clients.forEach((client, index) => {\n        formattedResponse += `${index + 1}. ${client.name} - ${client.phone} (${client.status})\\n`;\n      });\n    } else {\n      formattedResponse = 'Клиентов не найдено.';\n    }\n    break;\n\n  case 'get_leads_stats':\n    if (apiResponse && typeof apiResponse === 'object') {\n      formattedResponse = apiResponse.response || JSON.stringify(apiResponse, null, 2);\n    } else {\n      formattedResponse = 'Данные получены успешно.';\n    }\n    break;\n\n  default:\n    formattedResponse = 'Операция выполнена успешно.';\n}\n\nreturn {\n  json: {\n    response: formattedResponse,\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "format-function-response",
      "name": "Format Function Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "const textResponse = $('Extract Function Call').first().json.text_response;\n\nreturn {\n  json: {\n    response: textResponse || 'Извините, не смог обработать ваш запрос.',\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "format-text-response",
      "name": "Format Text Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  response: $json.response,\n  success: $json.success,\n  timestamp: $json.timestamp\n} }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 350]
    }
  ],
  "connections": {
    "Webhook Voice Assistant": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Request": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Check Function Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Function Call": {
      "main": [
        [
          {
            "node": "Extract Function Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Function Call": {
      "main": [
        [
          {
            "node": "Route Functions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Functions": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Clients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Leads Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Format Function Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks": {
      "main": [
        [
          {
            "node": "Format Function Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clients": {
      "main": [
        [
          {
            "node": "Format Function Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads Stats": {
      "main": [
        [
          {
            "node": "Format Function Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Function Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Text Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-09T00:00:00.000Z",
  "versionId": "1"
}